---
import { Image } from "astro:assets";
import PicsMonroe from "~/assets/m18.jpg";
---

<section class="grid place-items-center place-content-center">
    <div class="flex flex-col text-center w-5/5 md:w-4/5 max-w-screen-md bg-gradient-to-r from-rose-100 to-teal-100 rounded md:m-10">
        <Image 
            src={PicsMonroe} alt="Foto de perfil" 
            class="place-self-center w-2/5 sm:w-3/5 object-cover rounded-lg shadow-lg mt-10 mb-7" />
            
        
        <h2 class="text-xl sm:text-2xl font-bold mb-3 text-black">Marilyn Monroe</h2>  
        <div class="flex flex-col mb-7 [&>h4]:text-black [&>h4]:font-bold [&>h4]:tracking-tighter">
            <h4>ACTRESS</h4>
            <h4>1926-1962</h4>
        </div>
        <div class="w-4/5 sm:w-4/5 place-self-center text-s mb-5 text-black italic tracking-tight">
            Born Norma Jeane Mortenson, Marilyn Monroe overcame dificul childhood to became one of the wolrd's most enduring sex symbols. Her films grossed more than $200 million. She died of a drug overdose in 1962 at the age of 36.
        </div>
        <div class="text-xs sm:text-md mx-3 mb-10 text-black tracking-wide">
            "I don't want to make money, I just want to be wonderful."
        </div>
    </div>
</section>

