<div class="w-[300px] relative flex flex-col items-center justify-center overflow-hidden bg-gray-50/0 py-6 gap-3 sm:py-12">

  <div>
    <label for="tw-modal" class="cursor-pointer rounded bg-black px-6 py-5 text-lg text-white active-bg-slate-400 border-b border-opacity-5 border-current hover:shadow-xl hover:border-yellow-400 hover:text-yellow-400 hover:delay-150 hover:duration-300">Contract address</label>
  </div>

  <input type="checkbox" id="tw-modal" class="peer fixed appearance-none opacity-0" />

  <label for="tw-modal" class="pointer-events-none invisible fixed inset-0 flex cursor-pointer items-center justify-center overflow-hidden overscroll-contain bg-slate-700/80 opacity-0 transition-all duration-200 ease-in-out peer-checked:pointer-events-auto peer-checked:visible peer-checked:opacity-100 peer-checked:[&>*]:translate-y-0 peer-checked:[&>*]:scale-100 z-10">
  
    <label class="max-h-[calc(100vh - 5em)] h-fit max-w-lg scale-90 overflow-y-auto overscroll-contain rounded-md bg-white p-6 text-black shadow-2xl z-50 transition"for="">
      <h3 class="text-center text-lg font-bold">HODL $MONROE:</h3>
      <p class="text-sm py-4">
        FFoEvwrMh8oX9WKZ2CSoJ5ZM4iTZEpe5ivZA3j79VvP9
      </p>
  
    </label>

  </label>
</div>
