---
import { Icon } from "astro-icon/components";
import { Image } from "astro:assets";
import moonImage from "~/assets/moon.png";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";
---
<style>
  p {
    font-size: 12px;
  }
</style>


<section
  class="flex flex-col sm:flex-row h-[200px] items-center justify-center"
>
  <ContentSection />
  <div class="flex gap-8">
    <div class="flex flex-grow">
      <a
        href="https://jup.ag/swap/SOL-FFoEvwrMh8oX9WKZ2CSoJ5ZM4iTZEpe5ivZA3j79VvP9" target="_blank" rel="noopener noreferrer"
        class="w-[140px] sm:w-[160px] flex items-center justify-center gap-3  bg-black border text-white border-current px-6 py-4 rounded hover:shadow-xl hover:delay-150 hover:duration-300"
      >
        <span class="text-lg"> Buy now </span>
      </a>
    </div>
    <div class="flex flex-grow">
      <a
        href="https://dexscreener.com/solana/8y1txyrhsabxcmnxwmmgusomttkjklqfuktfv8h3ax39" target="_blank" rel="noopener noreferrer"
        class="w-[140px] sm:w-[160px] flex items-center justify-center gap-3  bg-black border text-white border-current px-6 py-4 rounded hover:shadow-xl hover:delay-150 hover:duration-300"
      >
        <span class="text-lg"> Chart </span>
      </a>
    </div>
  </div>
</section>



