---
import { Icon } from "astro-icon/components";
import HeroImage from "~/components/hero-image.astro";
import type { FooterLink } from "~/types";

const links: Array<FooterLink> = [
  {
    url: "https://web.telegram.org/a/#-1002224984232",
    description: "$MONROE Telegram",
    icon: "fa-brands:telegram",
  },
  {
    url: "https://x.com/MonroeonSol",
    description: "$MONROE on Sol on Twitter",
    icon: "fa-brands:twitter",
  },
];
---

<footer class="relative flex flex-col h-44 items-center justify-center">
  <div class="absolute inset-0 overflow-hidden opacity-40 sm:bg-zinc-900">
  </div>
  <ul class="relative grid grid-cols-2 gap-4 sm:grid-cols-2">
    {
      links.map((link) => (
        <li>
          <a
            class="flex size-16 items-center justify-center rounded-full border-2 border-current p-4"
            href={link.url} target="_blank" rel="noopener noreferrer"
          >
            <span class="sr-only">{link.description}</span>
            <Icon class="size-full" name={link.icon} />
          </a>
        </li>
      ))
    }
  </ul>
  <p class=" text-xs mt-10"> Made with love by $MONROE CTO</p>
</footer>
